body {
    background-image: url('Immagine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza dell'intera viewport */
    margin: 0; /* Rimuovere margini di default */
}

.main-box {
    background-color: rgba(255, 255, 255, 0.8); /* Opacità per vedere lo sfondo */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px; /* Larghezza massima della box */
    text-align: center;
    margin: 0 auto; /* Centrare orizzontalmente */
}

.paragrafi{
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}

.titolo{
    color: #0004ff;
    text-align: center;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
h1 {
    color: #0004ff;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #0004ff;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
